In [1]:
import pandas as pd

In [4]:
data = {
"Employee_ID": [101, 102, 103, 104],
"Name": ["Amit", "Bhavna", "Chetan", "Divya"],
"Department": ["HR", "Finance", "IT", "Marketing"],
"Salary": [50000, 60000, 55000, 52000],
"Joining_Date": ["2022-01-10", "2021-03-15", "2020-07-01", "2023-02-20"]
}
df = pd.DataFrame(data)

In [5]:
df

   Employee_ID    Name Department  Salary Joining_Date
0          101    Amit         HR   50000   2022-01-10
1          102  Bhavna    Finance   60000   2021-03-15
2          103  Chetan         IT   55000   2020-07-01
3          104   Divya  Marketing   52000   2023-02-20

In [11]:
df.to_excel("employees.xlsx",index=False,sheet_name="employeesData")

In [12]:
%pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\syama\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\syama\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
df_excel = pd.read_excel("employees.xlsx",sheet_name="employeesData")

In [17]:
df_excel

   Employee_ID    Name Department  Salary Joining_Date
0          101    Amit         HR   50000   2022-01-10
1          102  Bhavna    Finance   60000   2021-03-15
2          103  Chetan         IT   55000   2020-07-01
3          104   Divya  Marketing   52000   2023-02-20